html, body {
    padding: 0;
    margin: 0;
}

body {
    background: black;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;;
}

#main-header {
    height: 60px;
    background: #5c5c5c;
    align-items: center;
    display: flex;
    gap: 15px;
    padding: 0 20px;
}

#main-header img{
    width: 40px;
    height: 40px;
}

#main-header h1{
    margin: 0;
}

#main-header .wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 60px;
}

#main-header span {
    color: #ff7000;
}

#main-header button {
    margin: 0 0 0 auto;
    background: none;
    border: 2px solid #ff7000;
    color: #ff7000;
    font-size: 1.2rem;
    border-radius: 5px;
}

#main-header button:hover {
    background: #000;
    cursor: pointer;
}


.wrapper {
    width: 900px;
    margin: 0 auto;
}

.modal{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #00000088;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal .modal-content {
    width: 400px;
    min-width: 300px;
    min-height: 100px;
    background: #ff7000;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.modal .modal-content button.btn-close{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20px;
    border: none;
    background: none;
    color: #fff;
    font-family: cursive;
    padding: 10px;
    cursor: pointer;
}

.modal .modal-content h1 {
    margin: 0;
}

#add-stock form{
    margin-top: 20px 0 0 0;
}